<form [formGroup]="loginForm" (submit)="onSubmit()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" formControlName="username"/>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password"/>
  </div>
  <div class="form-group">
    <input type="submit" value="Login">
  </div>
</form>
