<div class="container">
  <div class="py-5 text-center">
    <h2>Register</h2>
    <p class="lead">Register to start using the app.</p>
  </div>


  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <hr class="mb-4">
      <h4 class="mb-3">Info</h4>
      <form class="needs-validation" [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
        <div formGroupName="userData">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">First name</label>
              <input type="text" formControlName="fName" class="form-control" id="firstName" placeholder=""
                     value="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <input type="text" formControlName="sName" class="form-control" id="lastName" placeholder=""
                     value="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" formControlName="username" class="form-control" id="username"
                     placeholder="Username">
              <div class="invalid-feedback" style="width: 100%;">
                Your username is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Email
              <span class="text-muted">(Optional)</span>
            </label>
            <input type="email" formControlName="email" class="form-control" id="email"
                   placeholder="you@example.com">
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div>

          <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" id="password"
                   placeholder="Example: Test_123">
            <div class="invalid-feedback">
              Please enter your password.
            </div>
          </div>

          <div class="mb-3">
            <label for="password2">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" id="password2"
                   placeholder="Example: Test_123">
            <div class="invalid-feedback">
              Please confirm your password.
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="acceptTerms" class="custom-control-input" id="terms">
          <label class="custom-control-label" for="terms">I accept the Terms of Service</label>
          <a href="#">Terms.</a>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="agreePrivacy" class="custom-control-input" id="privacy">
          <label class="custom-control-label" for="privacy">I agree to the Privacy Policy</label>
          <a href="#">Privacy.</a>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block col-md-6 offset-md-3" type="submit">Register me</button>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Markit</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#">Privacy</a>
      </li>
      <li class="list-inline-item">
        <a href="#">Terms</a>
      </li>
      <li class="list-inline-item">
        <a href="#">Support</a>
      </li>
    </ul>
  </footer>
</div>
